.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  20vh 65vh;
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem;    
}


.container > header{
    width: 992px;
    display: flex;
    padding: 1rem 2.5rem;
    align-items: center;
}

.container main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    padding: 1rem 3rem;    
}

.container main::-webkit-scrollbar{
    width: 4px;
}

.container main::-webkit-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 4px;
}   




